:root{
    --grey: rgba(10, 10, 10, 0.5);
    --green: #02cc7e;
    --blue:rgba(9, 32, 43, 0.8 );
    --newblue: rgba(3, 31, 48, 0.8);
    --violet: #4f41a3;
}


*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

body 
{
    background: #e2e8f0;
    
        
}

/* Comienzo del HEADER */

.header{
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .5fr 9.5fr;
}

/* Barra de navegación */

.nav{
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0;
    padding-top: .3em;
    background-color: var(--violet);
    justify-content: space-around; 
    /* border-bottom: 1px solid var(--green);  */
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 3em 0 ;
    z-index: 999;
}

.hamburguer{
    display: none;
}

.paneles{
    display: flex;
    justify-content:space-around;
    gap: 1em;
    list-style-type: none;
    
    
}

.name{
    padding: .5em ;
    border-radius: 6px ;
    text-decoration: none;
    color: #f4f4f4;
    transition:all .2s;
}

.name:hover{
    /* background-color: var(--green); */
    /* color: var(--newblue); */
    display: grid;
    transform: translatey(.2em);
    text-shadow: 2.5px  2.5px 5px  #000;

}


/* Fin de la barra de navegación */

/* LOGO */

.logo{
    margin: 1em auto auto 1em;
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: fit-content;
    max-height: fit-content;
    
}

.logo__img{
    
    width: 10vw;
    box-shadow: 2px 2px 5em rgba(0, 0, 0, 0.329);}


/* Fin de LOGO */

/* Panel de alarmas */

.circle{
    width: 280px;
    height: 120px;
    background-color: #f4f4f4;
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 7.5em auto;
    border-radius: 50%;
    display: grid;
    grid-template-columns: .5fr 3fr .5fr;
    box-shadow: 0 0 3em  rgba(0, 0, 0, 0.529);

}

.display{
    grid-column: 2/3;
    margin-left: .55em;
    background-color: #000;
    border-radius: 40%;
    width: 260px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: .59em;
    color: rgb(80, 77, 77);
    padding-top: 2.5em;
    padding-right: 1.5em;
    z-index: 2;

}

.first__column{
    margin-left: -1em;
    grid-column: 1/2;
    list-style: none;
}
.second__column{
    margin-left: -1.5em;;
    grid-column: 2/3;
    list-style: none;
}
.third__column{
    margin-left: -1.5em;
    grid-column: 3/4;
    list-style: none;


}
.fourth__column{
    margin-left: -3em;
    grid-column: 4/5;

    list-style: none;


}

.led{
    margin-bottom: .8em;
}

.panel{
    grid-row: 2/3;
    grid-column: 1/2;
    margin: auto;
    margin-top: 11em;
    height: 380px;
    width: 280px;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background-color: #f4f4f4;
    border-radius: 0 0 20px 20px;
    row-gap: 1em;
    box-shadow:  5px 5px 0px  rgba(201, 196, 196, 0.393);


     
}



.panel__superior{
    grid-row: 1/2;
    grid-column: 1/5;
    display: grid;
    grid-template-rows: 4fr 1fr;

    
}




.emerg{
    grid-row: 2/3;
    display: grid ;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
}

.panic{
    grid-column: 2/3;
    height: 1.5em;
    width: 1.8em;
    background-color: #bcced6;
    border-top: 1px solid #000;
    border-radius: 50%;
    justify-self: end;
}
.fire{
    justify-self: center;
    grid-column: 3/4;
    height: 1.5em;
    width: 1.8em;
    background-color: #bcced6;
    border-top: 1px solid #000;
    border-radius: 50%;

}
.asalt{
    justify-self: start;
    grid-column: 4/5;
    height: 1.5em;
    width: 1.8em;
    background-color: #bcced6;
    border-top: 1px solid #000;
    border-radius: 50%;
}

.police , .flame , .croos{
    display: flex;
    margin: auto;
    height: 1em;
}

.bypass{
    justify-self: end;
    grid-column: 5/6;
    height: 1em;
    width: 1.8em;
    background-color: #bcced6;
    border-top: 1px solid #000;
    border-radius: 50%;
    align-self: center;
    text-decoration: none;
    color: #000;


}

.bypass__label{
    font-size: .4em;
    margin: .2em;
}




.panel__teclado{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1em;
    margin-bottom: -1em;
    grid-column: 1/5;

}   





.teclado__num{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(4,1fr);
       
}

.first{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

.second{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

.third{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

.fourth{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

.number{
    display: grid;
    text-decoration: none;
    color: rgb(14, 13, 13);
    background-color: #bcced6;
    border-top: 1px solid #000;
    border-radius: 50%;
    height: 1.5rem; 
    text-align: center;
    width: 2rem;
    font-weight: bolder;
    font-size: .8rem;

    
}







/* Fin de panel de alarmas */

/* Botones de modos */


.modes{
    position: relative;
    display: flex;
    grid-column: 2/3;
    margin-top: 5em;
    grid-row: 2/3;
    flex-direction: column;
    gap: 1em;
    width: 10em;
    
    
}



.mode__buttom{    
    text-align: center;
    background-color: var(--violet);
    padding: .7em;
    width: 8em;
    border-radius: 6px ;
    text-decoration: none;
    color: #f4f4f4;
    backdrop-filter: blur(10px); 
    box-shadow: .3em .5em .5em  rgba(0, 0, 0, 0.529);
    transition: all .2s;
    
}

.mode__buttom:hover{
    background-color: #f4f4f4;
    color: var(--violet);
    position:relative;
    font-weight: 500;
    box-shadow: 0 0 1.5em #000;

   
}


/* Fin de botones de modos */



/* Responsive */


@media screen and (max-width:800px){ 

    .header{
        grid-template-columns: .1fr 2fr .1fr;
        grid-template-rows: 5vh 50vh 45vh;
    }


    .logo{
        grid-column: 3;
        margin-left: -8vw;
    }

    .nav{
        grid-column: 1/4;
        
    }

    .circle{
        grid-column: 2/3;
        margin-top: .5em;

    }

    
    .panel{
        margin-top: 4em;
        grid-column: 2/3;
        align-self: center;

        grid-row: 2/3;
    }


    .paneles{
        display: none;
    }

    .hamburguer{
        display: flex;
        margin-top: .2em;
    }

    


    .modes{
        margin-top: 10em;
        position: relative;
        grid-row: 3/4;
        grid-column: 1/4;
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content:center;
        padding-bottom: 8em;
        width: fit-content;
   
    }

    .mode__buttom{
        height: 4em;
    }



    

    
/* Fin de responsive */

}


/* Fin de HEADER */