:root{
    --grey: rgba(10, 10, 10, 0.5);
    --green: #02cc7e;
    --blue:rgba(9, 32, 43, 0.8 );
    --newblue: rgba(3, 31, 48, 0.8);
    --violet: #4f41a3;
}


*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

body 
{
    background: #e2e8f0;
    
        
}

/* Comienzo del HEADER */

.header{
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .5fr 9.5fr;
}

/* Barra de navegación */

.nav{
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0;
    padding-top: .3em;
    background-color: var(--violet);
    justify-content: space-around; 
    /* border-bottom: 1px solid var(--green);  */
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 3em 0 ;
    z-index: 999;

}

.hamburguer{
    display: none;
}

.paneles{
    display: flex;
    justify-content:space-around;
    gap: 1em;
    list-style-type: none;
    
    
}

.name{
    padding: .5em ;
    border-radius: 6px ;
    text-decoration: none;
    color: #f4f4f4;
    transition:all .2s;
}

.name:hover{
    /* background-color: var(--green); */
    /* color: var(--newblue); */
    display: grid;
    transform: translatey(.2em);
    text-shadow: 2.5px  2.5px 5px  #000;

}


/* Fin de la barra de navegación */

/* LOGO */

.logo{
    margin: 1em auto auto 1em;
    grid-row: 2/3;
    grid-column: 1/2;
    max-width: fit-content;
    max-height: fit-content;
    
}

.logo__img{
    
    width: 10vw;
    box-shadow: 2px 2px 5em rgba(0, 0, 0, 0.329);}


/* Fin de LOGO */

/* Panel de alarmas */


.panel{
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 7.5em auto;
    border: 1px solid #fff;
    height: 343px;
    width: 280px;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    border-radius: 5px 5px 0 0;
    background-color: #f4f4f4;
    padding-top: .2em;    
    box-shadow: 0 0 3em  rgba(0, 0, 0, 0.529)
}

.superior__display{
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
}

.panel__pantalla{
    
    grid-row: 1/2;
    border: 1px solid #fff;
    width: 280px;
    height: 100px;
    background-color: #000;
    grid-template-columns: repeat(5, 40px);
    font-size: .8em;
    color: #922323;
    display: grid;
    grid-template-rows: .5fr 1fr .5fr;
    grid-template-columns: 1fr 5fr 1fr;
    

    
    
    
}

.superior__buttons{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: .5fr 1fr .5fr;
    column-gap: 2em;
}

.open__lock , .close__lock{
    grid-row: 2/3;
    height: 1rem; 
    width: 2.5rem;
    background-color: #9ac6ff70;
    border-radius: 6px 6px 6px 6px;
    display: grid;
    justify-content: center;
    align-self: center;

}

.open__lock{
    grid-column: 1/2;
}
.unlocked , .padlock{
    height: 1em;
}
.close__lock{
    grid-column: 3/4;
}


.left__arrow , .ok , .right__arrow{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #9ac6ff70;
    height: 2rem; 
    width: 2.5rem;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: #1832bb;
    text-align: center;
}

.left__arrow{
    justify-self: start;
    border-radius: 200px 0 0 0;
    border-bottom: #f4f4f4 px solid;
    
}

.ok{
    justify-self: center;
}

.right__arrow {
    justify-self: end;
    border-radius: 0 200px 0px 0;
}

.pantalla__led{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #42a2d5;
    
}











.panel__teclado{
    padding-top: .5em;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1em;
    grid-column: 1/5;
    background-color: #d0dff432;
}

.options{
    grid-column: 1/2;
    display: grid;
    justify-content: center;
}
.perimeter , .exclude , .memory , .programming{
    background-color: #9ac6ffa4;
    height: 1.2rem; 
    width: 2.2rem;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    justify-content: center;
    align-content: center;

}

.in__house{
    height: 1em;
}

.exclude{
    background-image: url(/images/home.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    color: #fff;
    text-decoration: none;
    
}

.label__exclude{
    font-size: .6em;
    padding-top: .2em;
}

.memory{
    text-align: center;
    text-decoration: none;    

}



.label__memory{
    color: #fff;
    height: 1.6em;
    width: 1.6em;
    font-size: .5em;
    background-color: #000;
    border-radius: 50%;
    padding-top: .2em;

}

.wrench__down{
    height: 0.6em;
    rotate: 220deg;
    margin-right: .1em;
    justify-self: end;
}

.wrench__up{
    height: .6em;
    rotate: 40deg;
    margin-top: -.2em;
    margin-right: .1em;
    justify-self: end;
}





.teclado__num{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(4,1fr);
       
}

.first{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.second{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.third{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fourth{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.number{
    display: grid;
    text-decoration: none;
    color: #1832bb;
    background-color: #9ac6ffa4;
    height: 1.5rem; 
    width: 2.5rem;
    text-align: center;
    border-radius: 6px 6px 6px 6px;
    font-weight: bolder;
    font-size: 1em;

    
}




.asterisco{
    color: #922323;
    font-size: 2em;

}
.numeral{
    color: #008042;
    padding-top: .3em;
    font-size: 1em;

}

.emerg{
    grid-column: 3/4;
    display: grid;
    justify-content: center;
}

.fire , .panic , .asalt{

    background-color: #9ac6ffa4;
    height: 2rem; 
    width: 2.5rem;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    justify-content: center;
    align-content: center;

}

.fire__icon ,.police , .croos{
    height: 1.2em;
}






/* Fin de panel de alarmas */

/* Botones de modos */


.modes{
    position: relative;
    display: flex;
    grid-column: 2/3;
    margin-top: 5em;
    grid-row: 2/3;
    flex-direction: column;
    gap: 1em;
    width: 10em;
    
    
}

/* .modes__list{
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: none;
    
} */

/* .mode{
    display: flex ;
    box-shadow: 1px 1px 3em 1px  rgba(0, 0, 0, 0.326);
    
} */

.mode__buttom{    
    text-align: center;
    background-color: var(--violet);
    padding: .7em;
    width: 8em;
    /* border: 1px solid var(--green); */
    border-radius: 6px ;
    text-decoration: none;
    color: #f4f4f4;
    backdrop-filter: blur(10px); 
    box-shadow: .3em .5em .5em  rgba(0, 0, 0, 0.529);
    transition: all .2s;
    
}

.mode__buttom:hover{
    background-color: #f4f4f4;
    color: var(--violet);
    position:relative;
    font-weight: 500;
    /* transform: scaley(1.1); */
    box-shadow: 0 0 1.5em #000;

   
}


/* Fin de botones de modos */



/* Responsive */


@media screen and (max-width:800px){ 

    .header{
        grid-template-columns: .1fr 2fr .1fr;
        grid-template-rows: 5vh 50vh 45vh;
    }


    .logo{
        grid-column: 3;
        margin-left: -8vw;
    }

    .nav{
        grid-column: 1/4;
        
    }

    
    .panel{
        margin-top: 13em;
        grid-column: 2/3;
        align-self: center;

        grid-row: 2/3;
    }


    .paneles{
        display: none;
    }

    .hamburguer{
        display: flex;
        margin-top: .2em;
    }

    


    .modes{
        position: relative;
        grid-row: 3/4;
        grid-column: 1/4;
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content:center;
        padding-bottom: 8em;
        width: fit-content;
   
    }

    .mode__buttom{
        height: 4em;
    }



    /* .modes__list{
        display: grid;
        height: fit-content;
        grid-auto-flow: column;
        padding-left: 0;
        font-size: 2vw;
        
    
} */

    
/* Fin de responsive */

}


/* Fin de HEADER */