:root{
    --grey: rgba(10, 10, 10, 0.5);
    --green: #02cc7e;
    --blue:rgba(9, 32, 43, 0.8 );
    --newblue: rgba(3, 31, 48, 0.8);
    --violet: #4f41a3;
}


*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

body 
{
    background: #e2e8f0;
    
        
}

/* Comienzo del HEADER */

.header{
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .5fr 9.5fr;
}

/* Barra de navegación */

.nav{
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0;
    padding-top: .3em;
    background-color: var(--violet);
    justify-content: space-around; 
    /* border-bottom: 1px solid var(--green);  */
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 3em 0 ;
    z-index: 999;
}

.hamburguer{
    display: none;
}


.cross__cancel{
    display: none;
}

.paneles{
    display: flex;
    justify-content:space-around;
    gap: 1em;
    list-style-type: none;
    
    
}

.name{
    padding: .5em ;
    border-radius: 6px ;
    text-decoration: none;
    color: #f4f4f4;
    transition:all .2s;
}

.name:hover{
    /* background-color: var(--green); */
    /* color: var(--newblue); */
    display: grid;
    transform: translatey(.2em);
    text-shadow: 2.5px  2.5px 5px  #000;

}


/* Fin de la barra de navegación */



/* Panel de alarmas */


.panel{
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 7.5em auto;
    border: 1px solid #fff;
    height: 280px;
    width: 340px;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background-color: #f4f4f4;
     
    box-shadow: 0 0 3em  rgba(0, 0, 0, 0.529)
}

.panel__superior{
    grid-row: 1/2;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.panel__pantalla{
    grid-column: 1/4;
    grid-row: 1/2;
    border: 1px solid #fff;
    width: 200px;
    justify-self: center;
    /* border-radius: 25px; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    align-self: center;
    background-color:#88c140;
    justify-self: end;
    margin-right: 1.5em;
    
}


.panel__teclado{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 3fr;
    gap: 1em;
    margin-bottom: -1em;
    grid-column: 1/5;
}

.lights{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2rem max-content;

}
.armed , .ready{
    grid-column: 1/2;
    font-size: .5rem;
    justify-self: center;
}

.armed__light{
    grid-column: 2/3;
    height: .5rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #ff0000;
    justify-self: center
}
.ready__light{
    grid-column: 2/3;
    height: .5rem;
    width: 1rem;
    border-radius: 50%;
    background-color: rgb(52, 183, 52);
    justify-self: center

}



.teclado__emerg{
    display: grid;
    grid-column: 2/3;
    grid-template-rows: repeat(4,1fr);
    text-align: center;
    justify-self: center;  
}





.emerg{

    text-decoration: none; 
    color: rgb(14, 13, 13);
    background-color: #bcced6;
    box-shadow: 1px 1px 0 0 #000;
    height: 1rem;
    width: 2rem; 
    justify-self: center; 
    align-content: center;
    justify-content: center;   
      

}

.asalt, .fire, .panic{
    display:flex;
    color: #fff;
    
}

.asalt{
    background-color: rgb(0, 81, 255);
}

.panic, .fire{
    background-color: #ff0000;
    font-size: .5rem; 


}

.labels{
    align-self: center;
}







.teclado__num{
    grid-column: 3/4;
    display: grid;
    grid-template-rows: repeat(4,1fr);
       
}

.first{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

.second{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

.third{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

.fourth{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}

.number{
    display: grid;
    text-decoration: none;
    color: rgb(14, 13, 13);
    background-color: #bcced6;
    border-top: 1px solid #000;
    height: 1rem; 
    text-align: center;
    width: 2rem;
    font-weight: bolder;
    font-size: .8rem;

    
}







/* Fin de panel de alarmas */

/* Botones de modos */


.modes{
    position: relative;
    display: flex;
    grid-column: 2/3;
    margin-top: 5em;
    grid-row: 2/3;
    flex-direction: column;
    gap: 1em;
    width: 10em;
    
    
}



.mode__buttom{    
    text-align: center;
    background-color: var(--violet);
    padding: .7em;
    width: 8em;
    /* border: 1px solid var(--green); */
    border-radius: 6px ;
    text-decoration: none;
    color: #f4f4f4;
    backdrop-filter: blur(10px); 
    box-shadow: .3em .5em .5em  rgba(0, 0, 0, 0.529);
    transition: all .2s;
    
}

.mode__buttom:hover{
    background-color: #f4f4f4;
    color: var(--violet);
    position:relative;
    font-weight: 500;
    /* transform: scaley(1.1); */
    box-shadow: 0 0 1.5em #000;

   
}


/* Fin de botones de modos */



/* Responsive */


@media screen and (max-width:800px){ 

    .header{
        grid-template-columns: .1fr 2fr .1fr;
        grid-template-rows: 5vh 50vh 45vh;
    }


    .logo{
        grid-column: 3;
        margin-left: -8vw;
    }

    .nav{
        grid-column: 1/5;
        
    }

    
    .panel{
        grid-column: 2/3;
        align-self: center;
        margin-left: .5em;
        grid-row: 2/3;
    }


    .paneles{
        display: none;
    }

    .hamburguer{
        display: flex;
        margin-top: .2em;
    }

    


    .modes{
        position: relative;
        grid-row: 3/4;
        grid-column: 1/4;
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content:center;
        padding-bottom: 8em;
        width: fit-content;
   
    }

    .mode__buttom{
        height: 4em;
    }




    
/* Fin de responsive */


}

/* Fin de HEADER */